.header__container {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
