@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
  --color-primary: rgb(7, 208, 61);
  --color-secondary: rgb(9, 10, 92);
  --color-white: #fff;
  --color-black: #212121;
  --transition: 0.3s ease;
}

*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}
